<?xml version="1.0" encoding="UTF-8"?>
<connectionStrings>
	<add connectionString="server=CCAppSQLAG1;database=CCGS_CoreAuth;Integrated Security=SSPI;Min Pool Size=1;Max Pool Size=150" name="CoreAuth" providerName="System.Data.SqlClient" />
	<add connectionString="server=CCAppSQLAG1;database=CCGS_CoreIssue;Integrated Security=SSPI;Min Pool Size=1;Max Pool Size=150" name="CoreIssue" providerName="System.Data.SqlClient" />
	<add connectionString="server=CCAppSQLAG1;database=CCGS_CoreLibrary;Integrated Security=SSPI;Min Pool Size=1;Max Pool Size=150" name="CoreLibrary" providerName="System.Data.SqlClient" />
</connectionStrings>
