<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<configSections>
		<section name="LogSection" type="AccountSummaryGateway.Tracing.LogSection, AccountSummaryGateway" />
		<section name="FSLog" type="AccountSummaryGateway.Tracing.FSLogSection, AccountSummaryGateway" />
		<section name="SQL" type="AccountSummaryGateway.DAL.SQLClientHelper, AccountSummaryGateway" />
	</configSections>-->
	<!--Enabled: true | false-->
	<!--Level: All | Off | Critical | Error | Warning | Information | Verbose | ActivityTracing -->

	<appSettings>
		<!--"PoddingSupported" , 0 = Sharding is Off , 2 = Sharding is ON-->
		<add key="PoddingSupported" value="0"/>
		<!--GetSharLookupAPI-->
		<add key="GetShardLookupAPIURL" value="http://localhost:8081"/>
		<add key="WCFEndPointWithoutSharding" value="https://wcf-blue.api.cc-pod2.infra.marcus.com/CoreCardServices/CoreCardServices.svc"/>
	</appSettings>
	<system.web>
		<compilation targetFramework="4.6.1"/>
		<httpRuntime targetFramework="4.6" enableVersionHeader="false"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding maxReceivedMessageSize="2147483647" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
						maxNameTableCharCount="2147483647"/>
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer ignoreExtensionDataObject="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<endpointDiscovery enabled="false"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1"/>
		<services>
			<service name="AccountSummaryGateway.CoreCardServices">
				<endpoint name="webHttpBinding" binding="webHttpBinding" contract="AccountSummaryGateway.ICoreCardServices" kind="webHttpEndpoint" address=""/>
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<security>
			<requestFiltering removeServerHeader="true">
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
<!--ProjectGuid: F98123F2-FADE-4566-8A6E-02A2DC004682-->
