<?xml version="1.0" encoding="utf-8"?>
<!-- PHFileVersionName = 23.8.8 -->
<!-- PHFileEnvName = P2MA_PLATDEV -->
<configuration>
  <configSections>
    <section name="LogSection" type="CC.HP.API.Tracing.LogSection, CC.HP.API" />
    <section name="FSLog" type="CC.HP.API.Tracing.FSLogSection, CC.HP.API" />
    <section name="SQL" type="CC.HP.API.DAL.SQLClientHelper, CC.HP.API" />
  </configSections>
  <SQL SQLCommandTimeout="120">
    <OPTIONS DISABLE_DEF_CNST_CHK="0" IMPLICIT_TRANSACTIONS="0" CURSOR_CLOSE_ON_COMMIT="0" ANSI_WARNINGS="1" ANSI_PADDING="1" ANSI_NULLS="1" ARITHABORT="1" ARITHIGNORE="0" QUOTED_IDENTIFIER="1" NOCOUNT="1" ANSI_NULL_DFLT_ON="1" ANSI_NULL_DFLT_OFF="0" CONCAT_NULL_YIELDS_NULL="1" NUMERIC_ROUNDABORT="0" XACT_ABORT="1" />
  </SQL>
  <!--Enabled: true | false-->
  <!--Level: All | Off | Critical | Error | Warning | Information | Verbose | ActivityTracing -->
  <LogSection Enabled="true" Level="Warning" messageLogging="false" />
  <!--Write logs on FileSysyem-->
  <!--PlainText: Whether to create text file Log => true|false -->
  <!--SVCLog: Whether to svclog xml file Log => true|false -->
  <!--LogFileCreationScheduleOption= Daily|Hourly|None !-->
  <!--ReserveDiskSpace : Bytes of HDD Storeage to reserve (10737418240: 10GB) -->
  <FSLog PlainText="true" SVCLog="false" Directory="D:\LOGs\CoreCardServicesLogs" BaseFileName="CoreCardServices" LogFileCreationScheduleOption="Daily" ReserveDiskSpace="10737418240" />
  <appSettings>
    <!--Login Cache Keep Time-->
    <add key="LoginCacheKeepTime" value="0.00:08:00" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="_emPasswordHashRounds" value="0" />
    <add key="_emPasswordEncryptionType" value="3" />
    <!--// 0-off 1-On-->
    <add key="SplunkLogging" value="1" />
    <add key="Environment" value="Development" />
    <!--// 0-off 1-On-->
    <add key="PrometheusEnable" value="1" />
    <!--// 0-off 1-On for program restriction log enable for warning-->
    <add key="ProgramRestrictionLoging" value="1" />
	  <!--// 0-off 1-On for JWT validation enable For PLAT = 0 / JAZZ = 1 -->
    <add key="JWTEnable" value="0" />
    <!--// percentage value to validate with JWT validation. Value may be from 0 to 100-->
    <add key="JWTTokenVerificationRate" value="5" />
    <!--Store JWT counter to validate JWTTokenVerificationRate. Time in minutes. Example:- 1 day = 1440 minutes -->
    <add key="JwtCounterCacheTime" value="43200" />
    <!--Store public key in cache. Time in minutes--> 
    <add key="PublicKeyCacheTime" value="20" /> 
    <!--Valid claim list-->
    <add key="JWTValidClaimList" value="identity_source,roles,scope,identity_type,client_id,roles_list,username,exp" />
    <!--API url endpoint for Public key-->
    <add key="PublicKeyAPIURL" value="http://10.206.19.53:8097/api/Auth/GetPublicKey" /> 
  </appSettings>
  <connectionStrings configSource="connectionStrings.config" />
  <system.web>
	<httpRuntime targetFramework="4.6" enableVersionHeader="false" />
    <compilation targetFramework="4.6.1" />
   <sessionState mode="Off"></sessionState>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer ignoreExtensionDataObject="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <endpointDiscovery enabled="false" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1" />
    <services>
      <service name="CC.HP.API.CoreCardServices">
        <endpoint name="webHttpBinding" binding="webHttpBinding" contract="CC.HP.API.ICoreCardServices" kind="webHttpEndpoint" address="" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
<security>
      <requestFiltering removeServerHeader="true">
      </requestFiltering>
</security>
<httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>
<!--ProjectGuid: F98123F2-FADE-4566-8A6E-02A2DC004682-->