<?xml version="1.0" encoding="utf-8"?>
<appSettings>

    <!--Virtual Directory for Statement PDFs-->

    <!--KMS Servers(Comma Separated)-->
    <add key="KMSDefaultMachines" value="CCKMSe1PRODb1 CCKMSe1PRODb2 CCKMSe1PRODb3 CCKMSe1PRODb4 CCKMSe1PRODb5 CCKMSe1PRODb6 CCKMSe1PRODb7" />
    <add key="DebugMode" value="0"/>

    <add key="dbbHandlerRoot" value="https://coreissue-blue.api.cc-pod2.infra.marcus.com" />

    <add key="CoreIssuePath" value="appCoreIssue.aspx" />
    <add key="CoreAuthPath" value="appCoreAuth.aspx" />
    <add key="CoreAppPath" value="appCoreApp.aspx" />
    <add key="CollectionPath" value="appCoreCollect.aspx"/>

    <add key="MailServer" value="10.220.0.2" />
    <add key="SMTPPort" value="25" />

    <add key="DefaultLocale" value="en-US"/>

    <!--HandlerMethod 1 for XML, 2 for QueryString(NameValuePair),  3 for JSon and 0 for Custom-->
    <add key="dbbHandlerMethod" value="2" />
    <add key="coreissuepathJson" value="" />

    <add key="IsMultiConnect" value="0"/>
    <!--//0=off,1=On-->
    <add key="CoreIssueROPath" value="appCoreIssue.aspx" />
    <!--Hmac related Setup-->
    <add key="HmacValidator" value="0"/>
    <add key="HmacApiKey" value="4d53bce03ec34c0a911182d4c228ee6c" />
    <add key="KafkaLogURL" value="http://10.206.1.121:9092" />
    <add key="KafkaLogTitle" value="TestWebAPIKafka" />

    <!--LoggingMethod 1 for Log4Net and 2 for Kafka-->
    <add key="LoggingMethod" value="1" />
	
    <add key="TokenBaseAuthentication" value="1" />
    <add key="SecretKey" value="This key is used to generate access token" />
    <add key="AccessTokenExpireTime" value="240" />
</appSettings>
