<?xml version="1.0" encoding="UTF-8"?>
<!--  For more information on
      <connectionStrings>
      see
      http://msdn.microsoft.com/en-us/library/bf7sd233%28v=vs.85%29.aspx
-->
<connectionStrings>

	<add name="CI"
		 providerName="System.Data.SqlClient"
		 connectionString="server=CCAPPLIST1;database=CCGS_CoreIssue;Integrated Security=SSPI;"/>
	<add name="CL"
		 providerName="System.Data.SqlClient"
		 connectionString="server=CCAPPLIST1;database=CCGS_CoreLibrary;Integrated Security=SSPI;"/>
	<add name="Portal"
		 providerName="System.Data.SqlClient"
		 connectionString="server=CCAPPLIST1;database=CCGS_CoreCredit;Integrated Security=SSPI;"/>
	<add name="CoreApp"
		 providerName="System.Data.SqlClient"
		 connectionString="server=CCAPPLIST1;database=CCGS_CoreApp;Integrated Security=SSPI;"/>
	<add name="CoreCollect"
		 providerName="System.Data.SqlClient"
		 connectionString="server=CCAPPLIST1;database=CCGS_CoreCollect;Integrated Security=SSPI;"/>
	<add name="ReportCI_Replication"
		 providerName="System.Data.SqlClient"
		 connectionString="server=CCrptLIST1;database=CCGS_RPT_CoreIssue;Integrated Security=SSPI;"/>
	
	<add name="LocalAppData"
		 connectionString="Data Source=D:\Webserver\WCF\App_Data\Logs.s3db" />
		 
	<add name="CI_ReadOnly"
	   providerName="System.Data.SqlClient"
	   connectionString="server=CCAPPLIST1;database=CCGS_CoreIssue;Integrated Security=SSPI; Min Pool Size=1;Max Pool Size=1000;Applicationintent=readonly"  />

	<add name="CL_ReadOnly"
	   providerName="System.Data.SqlClient"
	   connectionString="server=CCAPPLIST1;database=CCGS_CoreLibrary;Integrated Security=SSPI;Min Pool Size=1;Max Pool Size=1000;Applicationintent=readonly"  />

  <add name="Portal_ReadOnly"
	   providerName="System.Data.SqlClient"
	   connectionString="server=CCAPPLIST1;database=CCGS_CoreCredit;Integrated Security=SSPI;Min Pool Size=1;Max Pool Size=1000;Applicationintent=readonly"  />

</connectionStrings>
