<?xml version="1.0" encoding="utf-8"?>
<!-- PHFileVersionName = 23.8.8 -->
<!-- PHFileEnvName = P2MA_PLATDEV -->
<configuration>
  <appSettings file="configuration\appSettings.config">
    <!--Maximum allowed failures per IP/Domain-->
    <add key="SuspiciousIPSeverityLimit" value="10" />
    <!--Suspicious IP keep time-->
    <!--Days.hh.mm.ss.nnnnnn-->
    <add key="SuspiciousIPKeepTime" value="0.00:01:00" />
    <!--Exception Addresses-->
    <add key="SuspiciousIPExclude" value="" />
    <!--Login Cache Keep Time-->
    <add key="LoginCacheKeepTime" value="0.00:08:00" />
    <!--SQL Command Timeout-->
    <add key="SQLCommandTimeout" value="120" />
    <!--Whether Application is PCI Compliant (Implies KMS is being Used)
    Allowed Values "0": No, "1":Yes
    Default Value: "0"-->
    <add key="PCIcompliant" value="1" />
    <!--Whether KMS is being Used
    Allowed Values 0: No, 1:Yes
    Default Value: "0"-->
    <add key="KMSPresent" value="1" />
    <!--Default Organization
    Allowed Values "1" , "2"
    Default: "2"-->
    <add key="KMSDefaultOrg" value="2" />
    <!--KMS Servers(Comma Separated)-->
    <add key="KMSDefaultPort" value="1111" />
    <!--cacert file-->
    <add key="KMScacert" value="" />
    <!--clcert file-->
    <add key="KMSclcert" value="" />
    <!--clcert key-->
    <add key="KMSclkey" value="" />
    <!--cert password-->
    <add key="KMScertpass" value="" />
    <!--SPN = Service Principal Name
    <add key="EnablePanhash2" value="1" />
    Needed to securely tell the KMS the client user id.
    For Active directory with Kerberos, it should be like
    KMS/bbeuning.delos.com:1111
    While for LAN Manager it should look like
    delos\\bbeuning
    and be the user ID running the KMS.-->
    <add key="KMS_SPN" value="" />
    <!--Whether KMS Uses Kerberos(Active directory) Authentication.
    Allowed Values 0: No, 1:Yes
    Default Value: "0"-->
    <add key="KMSUsesKerberos" value="0" />
    <!--Whether KMS Checks Process's Loaded Modules
    Allowed Values: 0,1
    <1 to enable libraries signature check.-->
    <add key="CheckLibraries" value="0" />
    <add key="_emPasswordHashRounds" value="0" />
    <add key="_emPasswordEncryptionType" value="3" />
    <add key="EnableLogging" value="0" />
    <!--Tag updated on  4/30/2025 11:18:02 AM command ADD_UPDATE_ATTRIBUTE Label Version :  .Machine Name : VMPACKAGE05(UserName : gMSA-RMP$)-->
    <!--Tag updated on  11/10/2025 10:33:10 AM command ADD_UPDATE_ATTRIBUTE Label Version :  .Machine Name : VMPACKAGE05(UserName : gMSA-RMP$)-->
    <add key="EnablePanhash2" value="1" />
  </appSettings>
  <connectionStrings configSource="configuration\connectionStrings.config" />
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="CustomBehaviorSection" type="CC.CoreServices.Validations.CustomBehaviorSection, CC.CoreServices.Validations, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Validator">
          <CustomBehaviorSection />
        </behavior>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <endpointDiscovery enabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2147483647" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="CC.CoreServices.Web.CustomerService">
        <endpoint name="WSEndPoint" address="" binding="wsHttpBinding" contract="CC.CoreServices.Web.ICustomerService" behaviorConfiguration="Validator" />
        <endpoint name="WSMex" address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service name="CC.CoreServices.Web.dbbService">
        <endpoint name="WSEndPoint" address="" binding="wsHttpBinding" contract="CC.CoreServices.Web.IdbbService" behaviorConfiguration="Validator" />
        <endpoint name="WSMex" address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service name="CC.CoreServices.Web.CoreAppServices">
        <endpoint name="WSEndPoint" address="" binding="wsHttpBinding" contract="CC.CoreServices.Web.ICoreAppServices" behaviorConfiguration="Validator" />
        <endpoint name="WSMex" address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service name="CC.CoreServices.Web.CoreCollectService">
        <endpoint name="WSEndPoint" address="" binding="wsHttpBinding" contract="CC.CoreServices.Web.ICoreCollectService" behaviorConfiguration="Validator" />
        <endpoint name="WSMex" address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service name="CC.CoreServices.Web.CreditSelfService">
        <endpoint name="WSEndPoint" address="" binding="wsHttpBinding" contract="CC.CoreServices.Web.ICreditSelfService" behaviorConfiguration="Validator" />
        <endpoint name="WSMex" address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.6" enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <handlers>
      <add name="Owin" verb="*" path="Owin" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".map" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".map" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".xml" mimeType="text/plain" />
    </staticContent>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering removeServerHeader="true">
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.103.0" newVersion="1.0.103.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <!--
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="E:\CPBranch\CreditProcessing_11.00.1\CreditProcessing.Net_Code\CoreServices\CC.CoreServices.Web\App_Data\" size="5000" />
   </elmah>-->
</configuration>