<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- XML Data Storage settigns -->
    <add key="DATA_DIRECTORY" value="C:\\CoreCard\\KMS\\Service\\Data" />
    <!-- Directory where all the files will be saved.  -->
    <add key="DATA_WRITER_PERIOD" value="1min" />
    <!-- The period the Keys table will be written. 
		 It can be expressed in: (h)ours, (min)utes, and (s)econds  -->
    <add key="USE_BACKUP_FILES" value="0" />
    <!-- When a data base file is being writen, first the file will be backuped, 
         then the file is writen and if the write operation was successful the 
         backup will be deleted, when the file is read first the application
         checks for the existance of the backup file, if that file exists the
         a message box will be shown to task the user if he/she wants to use the 
         backup file, if this flag is being set to 1 the backup file will
         be used without asking the user, if the flag is set to 2 the original
         file will be used without asking any question, if the flag is 0 the
         user will be asked-->
    <!-- LOG Settings -->
    <add key="LOG_WRITER_PERIOD" value="5min" />
    <!-- The period the logs are written. 
		 It can be expressed in: (h)ours, (min)utes, and (s)econds.  -->
    <add key="SSL_LOG_FILE" value="ssl-trace" />
    <!-- File in which the logs for the SSL will be written -->
    <add key="LOG_LISTENING_PORT" value="0" />
    <!-- Port on which the server will listen.  -->
    <!-- Master engine settings -->
    <add key="MLK_CHANGE_PERIOD" value="" />
    <!-- The period the MLK of the active orgs checked. 
		 It can be expressed in: (h)ours, (min)utes and (s)econds. 
		 Id the period is set to "" then no replacement will be performed-->
    <add key="KEY_FILE" value="key.txt" />
    <!-- File where the third part of the MKE is begine stored.  -->
    <add key="MLK_CHANGE_TIME" value="22" />
    <!-- Time of day when MLK should change this can be an int value between (0 and 23) -->
    <!-- Key Encrypting Key status checker -->
    <add key="KEY_STATUS_CHECKING_PERIOD" value="12h" />
    <!-- The period the keys status is checked. 
		 It can be expressed in: (h)ours, (min)utes, and (s)econds  -->
    <add key="LIFE_TIME_UNITS" value="1" />
    <!-- What is the time interval in which Life is expressed (1 - days, 2 - months).
	     This also applies to MLK -->
    <!-- SSL server parameters -->
    <add key="SRV_CERT" value="srv_cert.pem" />
    <!-- Server certificate file.  -->
    <add key="SRV_KEY" value="srv_key.pem" />
    <!-- Server key file.  -->
    <add key="SRV_KEY_PASS" value="srv_1234" />
    <!-- Password of the server key  -->
    <add key="CA_CERT" value="cacert.pem" />
    <!-- Certificate of the trusted authority.  -->
    <add key="CA_CERT_PASS" value="" />
    <!-- Certificate of the trusted authority password.  -->
    <add key="KMM_LISTENING_PORT" value="1111" />
    <!-- Port on which the server will listen.  -->
    <add key="SSL_LOG_ON" value="true" />
    <!-- Turn ON/OFF the SSL logging.  -->
    <add key="SSL_ALLOW_OLDER_VERSIONS" value="false" />
    <!-- Turn ON/OFF the SSLv3 support,
         SSLv2 is always off, TLSv1+ is always on.  -->
    <!-- Email Reminder settings -->
    <add key="REMINDER_PERIOD" value="5min" />
    <!-- The period the reminder will check for events. 
         It can be expressed in: (h)ours, (min)utes, and (s)econds  -->
    <!-- Authentication settings-->
    <add key="IMPORT_SETTINGS" value="0" />
    <!-- If value is set to 0 then approval will be needed when a client is trying to connect 
         and it's not found in Allow Access Table, or Process Table or Library Table 
		 asking if you want to add a new entry for specified client.
         If value is set to 1 then client will be automatically added.
         If value is set to 2 then client will be rejected.-->
    <!-- Default values for check boxes-->
    <add key="AUTHENTICATE_CLIENT" value="1" />
    <!-- 1 to enable client authentication.-->
    <add key="CHECK_PROCESS" value="0" />
    <!-- 1 to enable process signature check.-->
    <add key="CHECK_LIBRARIES" value="0" />
    <!-- 1 to enable libraries signature check.-->
    <add key="KERBEROS" value="0" />
    <!-- 1 if Windows Authentication(Kerberos) check box is checked, 0 otherwise.-->
    <add key="USE_DPAPI_FOR_PWS" value="true" />
    <!-- Store passwords in an encrypted file using DPAPI. Auto load and use these when restarting the KMS. -->
    <add key="CLIENT_CERTIFICATE" value="0" />
    <!-- 1 if Request client certificate check box is checked, 0 otherwise.-->
    <!-- Set admin rights -->
    <add key="ADMIN_RIGHT" value="3" />
    <!-- 1 to use none. -->
    <!-- 2 to use view. -->
    <!-- 3 to use edit. -->
    <!-- Set storage type -->
    <add key="DATA_STORAGE" value="3" />
    <!-- 2 to use MS SQL server for data storage, only one KMS can be working, 3 use MS SQL and concurrent KMS-->
    <add key="SERVICE_NAME" value="orcl.corecard.com" />
    <!-- orcldb4 Service name for Oracle Connection -->
    <add key="PORT" value="1521" />
    <!-- Port for Oracle Connection -->
    <add key="DBTYPE" value="1" />
    <!-- 1 to use SQL. -->
    <!-- 2 to use Oracle. -->
    <!-- Set storage type -->
    <add key="NO_OF_ENCRYPTION" value="20" />
    <!-- the number of encryption after an update is made for KeyEncryptingKey Table-->
    <!-- Microsoft SQL Server connection parameters-->
    <add key="DATABASE_NAME" value="KMM_DB" />
    <!-- Database name-->
	<add key="DATABASE_HOST" value="CHANGE_ME" />
	<!-- Database server -->
	<add key="MAX_NO_CONN" value="100" />
    <!-- Maximum number of concurent database connections-->
    <!-- Synchronization parameters -->
    <add key="SYNC_PORT" value="9999" />
    <!-- The port used by the Synchronization Server to listen-->
    <add key="PING_INTERVAL" value="1min" />
    <!-- The period the slave will check for master. 
         It can be expressed in: (h)ours, (min)utes, and (s)econds.  -->
    <add key="CHECK_CONNECTION_PERIOD" value="2s" />
    <!-- The period the LockServer will check if connection is still alive 
         It can be expressed in: (h)ours, (min)utes, and (s)econds.  -->
	<!-- If a timed operation takes longer than this value (in milliseconds) print a message. -->
    <add key="MAX_CLIENT_CONNECTIONS" value="950" />
    <!-- Number of connection slots to allocate. -->
    <add key="CONNECTION_FULL_PERCENT" value="92" />
    <!-- The point where the LRU algorithm kicks in for dropping old connections.
         It is specified as a percentage of MAX_CLIENT_CONECTIONS. -->
	<add key="SLOW_THRESHOLD" value="200" />
    <!-- If a timed operation takes longer than this value (in milliseconds) print a message. -->
	<add key="MAX_WAIT_FOR_INPUT" value="0" />	<!-- Minutes to wait for input before dropping an unused connection. Set to 0 to disable this feature. -->
	<add key="MAX_TRACEFILE_SIZE" value="100000000" /> <!-- Maximum trace file size in bytes; 0 = unlimited. A half meg minimum is enforced. -->
    <add key="WEB_PORT" value="8091" />  <!-- The port on which the KMS will listen for its internal HTTP server. -->
	<add key="WEB_HTTPS" value="false" />  <!-- Force secure http -->
	<add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
	<add key="webPages:Enabled" value="false" />
    <add key="DNS_LOOKUP_CLOSE" value="true" /> <!-- Now reverse dns lookup in authentication processs is off/close. It fails very often on plat perf env and cause time delay in new connection. -->
	<!-- This will enable schema mismatch detection when KMS is initializing. Set it's value "true" to enable and "false" to disable this feature. -->
	<add key="SCHEMA_MISMATCH_DETECTION_ON_STARTUP" value="true" />
	<!-- This will contain schema folder path -->
	<add key="SCHEMA_FILE_PATH" value="" />
	<!-- This will be used to enable/disable prometheus logging feature. By default this feature will be disabled. To enable the feature set value to true. To disable the feature set value to false. -->
	<add key="PROMETHEUS_LOGGING_ENABLE" value="false"/>
	<!-- This is the master switch for log verification -->
	<!-- This will enable the log verification -->
	<!-- value = true signifies that the log verification is enabled -->
	<!-- value = false signifies that the log verification is disabled -->
	<add key="LOG_VERIFICATION_ENABLED" value="true"/>
	<!-- This is the master switch for Email Reminder -->  
	<!-- value = true signifies that the Email Reminder is enabled -->
	<!-- value = false signifies that the Email Reminder is disabled -->  
	<add key="EMAIL_REMINDER_SWITCH" value="false"/>	
    <add key="GET_MLKREADLOCK_DECRYPT_ONCE" value="false" />
    <!-- GET_MLKREADLOCK_DECRYPT_ONCE is used while calling getMLKReadLock() during decryption.
    Set value true to call getMLKReadLock() only once.
    By default OFF(for backward compactiablility) that means getMLKReadLock() is called everytime.-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
<system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>