<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrimaryCurrencySymbol" value="$" />
    <add key="CheckPermission" value="1" />
    <add key="SetTView" value="0" />
    <add key="MenuFilePath" value="D:\WebServer\CoreCredit\XMLFiles\MenuDetails.xml" />
    <add key="ExcelCon1" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=" />
    <add key="ExcelCon2" value="Excel 8.0;HDR=Yes" />
    <!--Report setting-->
    <add key="ReportServerPath" value="https://report-blue.dev.api.cc-pod2.infra.marcus.com/reportserver" />
    <add key="ReportsFolder" value="CoreCreditReports" />
    <add key="clDBName" value="CCGS_RPT_CoreLibrary" />
    <add key="CauthDBname" value="CCGS_RPT_CoreAuth" />
    <add key="PortalDBName" value="CCGS_RPT_CoreCredit" />
    <!-- Letter Settings -->
    <add key="LetterServerPath" value="https://report-blue.dev.api.cc-pod2.infra.marcus.com/reportserver" />
    <add key="LettersFolder" value="CoreCreditReports" />
    <add key="CDNUrl" value="https://dev.corecredit.cc-pod2.infra.marcus.com/CDN/" />
    <add key="CDNPath" value="D:\WebServer\CREDIT\CDN\" />
    <!--MerSupportNo setting-->
    <add key="lableContactCustomerSupport" value="Contact Customer Support" />
    <add key="MerchantSupportNo" value="1-866-520-6478" />
    <add key="ClientName" value="Plat-Cookie" />
    <add key="Companies" value="Plat-Cookie" />
    <!--File Upload Utility setting-->
    <add key="FileUploadPath" value="C:\WebServer\FTP\LocalUser\creditftpuser\Upload\" />
    <add key="FileUploadDownload" value="C:\WebServer\FTP\LocalUser\creditftpuser\Download\" />
    <add key="FileBufferPath" value="D:\WebServer\CREDIT\CoreCredit\FileManagement\Buffer\" />
    <!--File Utility Alert Type-->
    <add key="EmailRecipient" value="CreditAlert@Corecard.com" />
    <add key="EmailSender" value="CreditAlert@Corecard.com" />
    <add key="AlertType" value=",1,,," />
    <!-- 0 For No Alert-->
    <!-- 1 For Corrupted File Alert-->
    <!-- 2 For Unknown File Alert-->
    <!-- 3 For Duplicate Alert-->
    <!-- 4 For Valid File Alert-->
    <!-- Example =>  value = ",1,2,,,"  For Corrupted Alert and Unknown Alert-->
    <add key="ArmastFileWorkflowPath" value="P:\Dump\R2S\ARMAST_File" />
    <add key="Region" value="Production" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="PayOptAPIUrl" value="http://14.141.75.90:91/" />
    <add key="CoreAPPURL" value="https://ccCoreApp.corecard.com/Pages/Login.aspx" />
    <!--Shard Routing Related setting-->
    <add key="ShardRoutingEnvironment" value="0" />
    <add key="ShardRoutingConfFilePath" value="D:\WebServer\CoreCredit\XMLFiles\ShardRoutingConf.xml" />
    <add key="ShardRoutingDCHost" value="105.232.254.222" />
    <!--Need to add this Tag only when we need to work with SAML-->
    <add key="PartnerIdP" value="http://localhost/SAML_IP" />
    <!--This variable is used for Plat environment dont need to add in Credit & bydefault value will be 'NO' -->
    <add key="UsePIIFromBearerForEmbossing" value="YES" />
    <!-- For on-the-fly Statement PDF generation-->
    <add key="StatementsFolder" value="CoreIssueReports" />
    <add key="SupportedReportIds" value="327,845,898,915,920,921,940,941,942,943" />
    <add key="PathFor327" value="/PlatStatement/PlatStatement" />
    <add key="ParamListFor327" value="AID,CurrentDate" />
    <add key="PathFor845" value="/PlatStatement_Madison/PlatStatement_Madison" />
    <add key="ParamListFor845" value="AID,CurrentDate" />
    <add key="PathFor898" value="/JazzStatement_Owner_noAU/JazzStatement_Owner_noAU" />
    <add key="ParamListFor898" value="AID,CurrentDate,SecondaryID" />
    <add key="PathFor915" value="/JazzStatement_SMB/JazzStatement_SMB" />
    <add key="ParamListFor915" value="AID,CurrentDate,SecondaryID" />
    <add key="PathFor920" value="/JazzStatement_GMCard/JazzStatement_GMCard" />
    <add key="ParamListFor920" value="AID,CurrentDate,SecondaryID" />
    <add key="PathFor921" value="/JazzStatement_EFC/JazzStatement_EFC" />
    <add key="ParamListFor921" value="AID,CurrentDate,SecondaryID" />
    <add key="PathFor940" value="/JazzStatement_Owner_AU/JazzStatement_Owner_AU" />
    <add key="PathFor941" value="/JazzStatement_SMB_AU/JazzStatement_SMB_AU" />
    <add key="PathFor942" value="/JazzStatement_GMCard_AU/JazzStatement_GMCard_AU" />
    <add key="PathFor943" value="/JazzStatement_EFC_AU/JazzStatement_EFC_AU" />
    <add key="ParamListFor940" value="AID,CurrentDate,SecondaryID" />
    <add key="ParamListFor941" value="AID,CurrentDate,SecondaryID" />
    <add key="ParamListFor942" value="AID,CurrentDate,SecondaryID" />
    <add key="ParamListFor943" value="AID,CurrentDate,SecondaryID" />
    <add key="CoreConsumerUrl" value="" />
    <add key="EnableXssValidation" value="1" />
    <!--Tag updated on  7/3/2025 3:09:53 PM command ADD_UPDATE_ATTRIBUTE Label Version :  .Machine Name : VMPACKAGE05(UserName : gMSA-RMP$)-->
    <!--Tag updated on  7/3/2025 3:10:34 PM command ADD_UPDATE_ATTRIBUTE Label Version :  .Machine Name : VMPACKAGE05(UserName : gMSA-RMP$)-->
    <!--Tag updated on  10/16/2025 3:33:52 PM command ADD_UPDATE_ATTRIBUTE Label Version :  .Machine Name : VMPACKAGE05(UserName : gMSA-RMP$)-->
    <!--Tag updated on  10/27/2025 12:30:34 PM command ADD_UPDATE_ATTRIBUTE Label Version :  .Machine Name : VMPACKAGE05(UserName : gMSA-RMP$)-->
    <add key="JSFileVersion" value="25.10.04" />
    <!-- Expiry time for Enabling and Disabling Feature -->
    <add key="EnableDisableExpiryTime" value="20" />
    <add key="OutputPath" value="" />
    <add key="ServicesFlag" value="1" />
    <!--KafkaLog URL and Title-->
    <add key="KafkaLogURL" value="http://10.206.1.121:9092" />
    <add key="KafkaLogTitle" value="TestWebAPIKafka" />
    <!--LoggingMethod 1 for Log4Net and 2 for Kafka-->
    <add key="LoggingMethod" value="1" />
    <add key="GetLutFrmJson" value="0" />
    <add key="LutJsonFilePathSet1" value="D:\WebServer\CoreCredit\XMLFiles\LUTJsonFile_Set1.json" />
    <add key="LutJsonFilePathSet2" value="D:\WebServer\CoreCredit\XMLFiles\LUTJsonFile_Set2.json" />
    <add key="SecurityEnabled" value="1" />
    <!--key For Disabled Anti Forgery CSRF And Session Hijacking By Default 0-->
    <add key="AdvanceSecurityEnabled" value="1" />
    <add key="TokenBaseAuthentication" value="1" />
    <!-- key for access dbbide services username and password-->
    <add key="APIUserID" value="PortalServiceUser" />
    <add key="APIUserPassword" value="DFC4F4EDC1F1D301409BE27D5CFE5E85E94AED477773470AAB45AED927E1BB70" />
    <!--"PoddingSupported", 0 = Sharding is Off , 2 = Sharding is ON-->
    <add key="PoddingSupported" value="0" />
    <add key="GetShardLookupAPIURL" value="http://localhost:8081" />
    <!--"PoddingSupported" , 0 = Error Detail is Off , 1 = Error Detail is ON-->
    <add key="ShartErroDetailLog" value="0" />
    <!--"ShardHttpClientTimeOut in Seconds - by default 5 seconds"-->
    <add key="ShardHttpClientTimeOut" value="5" />
  </appSettings>
  <connectionStrings>
    <add name="LocalAppData" connectionString="Data Source=|DataDirectory|Logs.s3db" />
  </connectionStrings>
  <system.web>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Sitemap.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <machineKey decryptionKey="AutoGenerate,IsolateApps" validationKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="AES" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=10.206.0.200:42424" cookieless="false" timeout="20" />-->
    <roleManager defaultProvider="AspNetWindowsTokenRoleProvider" />
    <pages validateRequest="false" maintainScrollPositionOnPostBack="true" enableViewStateMac="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--<namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>-->
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <urlMappings enabled="true">
      <add url="~/Pages/ForgotPwd.aspx" mappedUrl="~/Pages/ForgotPwd.aspx?Direct=Yes" />
    </urlMappings>
    <!--    Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
     -->
    <compilation debug="false" targetFramework="4.6">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <!--custom Errors-->
    <customErrors mode="On" defaultRedirect="~/Pages/errorPage.aspx">
    </customErrors>
    <!--custom Errors-->
    <!--<Update below tag by adding cookeSameSite attribute />-->
    <sessionState cookieSameSite="Strict" />
    <!--<Update below tag by below attributes />-->
    <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Strict" />
    <!--append attribute enableVersionHeader and set its value to false in httpruntime tag-->
    <httpRuntime targetFramework="4.6" maxRequestLength="2147483647" executionTimeout="900" requestValidationMode="2.0" enableVersionHeader="false" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <remove name="Documentation" />
      </protocols>
      <wsdlHelpGenerator href="~/Pages/errorPage.aspx" />
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" removeServerHeader="true">
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
      </files>
    </defaultDocument>
    <caching enabled="true" enableKernelCache="true" maxCacheSize="1000" maxResponseSize="512000">
      <profiles>
        <add extension=".gif" location="Client" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" location="Client" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".JPEG" location="Client" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" location="Client" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" location="Client" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-XSS-Protection" value="1;mode=block" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <!-- <add name="X-Content-Type-Options" value="nosniff"/> -->
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="Content-Security-Policy" value="default-src 'self';               
                  		style-src 'self' https://fonts.googleapis.com 'unsafe-inline';               
                  		script-src 'self' 'unsafe-inline' 'unsafe-eval' https://code.jquery.com https://ajax.googleapis.com;               
                  		font-src https://fonts.gstatic.com 'self'" />
        <add name="Cache-Control" value="no-cache, no-store" />
        <add name="Pragma" value="no-cache" />
        <!--<Replace value of below tag by Domain Name, only one domain name can be set />-->
        <add name="Access-Control-Allow-Origin" value="https://dev.corecredit.cc-pod2.infra.marcus.com/" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <!--WCF End Point Setup : Change End point address -->
  <system.serviceModel>
    <diagnostics performanceCounters="Off" wmiProviderEnabled="false">
      <endToEndTracing activityTracing="true" messageFlowTracing="false" propagateActivity="true" />
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="500" maxSizeOfMessageToLog="262144" />
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="WcfAPIEndPointDefault" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="DbbAPIEndPointDefault" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wcf-blue.dev.api.cc-pod2.infra.marcus.com/WCF/CustomerService.svc" binding="wsHttpBinding" bindingConfiguration="WcfAPIEndPointDefault" contract="CustomerService.ICustomerService" name="WcfAPIEndPointDefault">
        <identity>
          <servicePrincipalName value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://wcf-blue.dev.api.cc-pod2.infra.marcus.com/WCF/dbbService.svc" binding="wsHttpBinding" bindingConfiguration="DbbAPIEndPointDefault" contract="dbbService.IdbbService" name="DbbAPIEndPointDefault">
        <identity>
          <servicePrincipalName value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.103.0" newVersion="1.0.103.0" />
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
