<?xml version="1.0" encoding="utf-8"?>
<!-- PHFileVersionName = 23.8.8 -->
<!-- PHFileEnvName = P2MA_PLATDEV -->
<appSettings>

    <!--Virtual Directory for Statement PDFs-->

    <!--KMS Servers(Comma Separated)-->
    <add key="KMSDefaultMachines" value="CCKMSe1QAb1 CCKMSe1QAb2"/>
    <add key="DebugMode" value="0"/>

    <add key="dbbHandlerRoot" value="https://coreissue-blue.qa.api.cc-pod2.infra.marcus.com" />

    <add key="CoreIssuePath" value="appCoreIssue.aspx" />
    <add key="CoreAuthPath" value="appCoreAuth.aspx" />
    <add key="CoreAppPath" value="appCoreApp.aspx" />
    <add key="CollectionPath" value="appCoreCollect.aspx"/>

    <add key="MailServer" value="Dummy" />
    <add key="SMTPPort" value="25" />

    <add key="DefaultLocale" value="en-US"/>

    <!--HandlerMethod 1 for XML, 2 for QueryString(NameValuePair) Default,  3 for JSon and 0 for Custom-->
    <add key="dbbHandlerMethod" value="2" />
    <add key="coreissuepathJson" value="" />
	
	<!--IsMultiConnect 0=Off (default),1=On-->
    <add key="IsMultiConnect" value="0"/>
    
    <add key="CoreIssueROPath" value="appCoreIssue.aspx" />
    <!--Hmac related Setup-->
    <add key="HmacValidator" value="0"/>
    <add key="HmacApiKey" value="4d53bce03ec34c0a911182d4c228ee6c" />
	<!--KafkaLogURL (default) http://10.206.1.121:9092 -->
    <add key="KafkaLogURL" value="http://10.206.1.121:9092" />
	<!--KafkaLogTitle (default) TestWebAPIKafka -->
    <add key="KafkaLogTitle" value="TestWebAPIKafka" />

    <!--LoggingMethod 1 for Log4Net (default) and 2 for Kafka-->
    <add key="LoggingMethod" value="1" />
	
    <add key="TokenBaseAuthentication" value="1" />
    <add key="SecretKey" value="This key is used to generate access token" />
    <add key="AccessTokenExpireTime" value="240" />
</appSettings>

