<?xml version="1.0"?>
<CoreSAMLLibrarySettings xmlns="urn:CoreCard:SAML:2.0:configuration">
  <ServiceProvider Name="https://qa.corecredit.cc-pod2.infra.marcus.com" Description="Corecredit" AssertionConsumerServiceUrl="https://qa.corecredit.cc-pod2.infra.marcus.com/Pages/AuthService.aspx" LocalCertificateFile="C:/temp/ssl.pfx" LocalCertificatePassword="" />
  <TrustedIdentityProviders>
    <TrustedIdentityProvider Name="" Description="Okta" IsSignAuthnRequest="false" TrustedCertificateString="" SignOnServiceUrl="" />
  </TrustedIdentityProviders>
</CoreSAMLLibrarySettings>