<?xml version="1.0" encoding="UTF-8"?>
<!-- PHFileVersionName = 23.8.8 -->
<!-- PHFileEnvName = P2MA_PLATPERF -->
<connectionStrings>
	<add name="CoreAuth" providerName="System.Data.SqlClient" connectionString="server=CCAPPLIST1; database=CCGS_CoreAuth; Integrated Security=SSPI; Min Pool Size=1; Max Pool Size=150"/>
	<add name="CoreIssue" providerName="System.Data.SqlClient" connectionString="server=CCAPPLIST1; database=CCGS_CoreIssue; Integrated Security=SSPI; Min Pool Size=1; Max Pool Size=150"/>
	<add name="CoreLibrary" providerName="System.Data.SqlClient" connectionString="server=CCAPPLIST1; database=CCGS_CoreLibrary; Integrated Security=SSPI; Min Pool Size=1; Max Pool Size=150" />
</connectionStrings> 
