<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WFRunReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UseSql2008" value="true"/>
    <add key="SQLServer" value="CCRPTLIST1"/>
    <add key="DataBaseCI" value="CCGS_RPT_CoreIssue"/>
    <add key="DataBaseCI_Main" value="CCGS_CoreIssue"/>
    <add key="DataBaseCA" value=""/>
    <add key="DataBaseCL" value="CCGS_RPT_CoreLibrary"/>
    <add key="DataBaseCS" value="CCGS_RPT_CoreIssue"/>
    <add key="DataBaseCApp" value="CCGS_RPT_CoreApp"/>
    <add key="DataBaseCC" value="CCGS_RPT_CoreCollect"/>
    <add key="DataBaseCAuth" value="CCGS_RPT_CorAuth"/>
    <add key="DFENV_ServerName_Main" value="LISTPLAT"/>
    <add key="DFENV_DataBaseCI_Main" value="CCGS_CoreIssue"/>
    <add key="DFENV_AuthenticationMode_Main" value="WA"/>
    <add key="DFENV_UserID_Main" value="sa"/>
    <add key="DFENV_Password_Main" value=""/>
    <add key="User" value=""/>
    <add key="Password" value=""/>
    <add key="ReportsBase" value="D:\ReportDelivery\"/>
    <add key="ReportDSN" value="CCRPTLIST1" />
    <add key="CheckInterval" value="15"/>
    <add key="ServerName" value="CCRPTLIST1"/>
    <add key="SRSFolder" value="CoreIssueReports"/>
    <add key="SQLTimeOut" value="30"/>
    <add key="LogFolder" value="D:\ReportDelivery\Log"/>
    <add key="ErrorFolder" value="D:\ReportDelivery\Error"/>	
    <add key="maxconcurrency" value="50"/>
    <add key="BatchSize" value="1000"/>
    <add key="ProfileTimeLimit" value="0.5"/>	
    <add key="MultiInst" value="true"/>
    <add key="RenderXLSX" value="false"/>
    <add key="UseAdaptiveBatchsize" value="true"/>
    <add key="GetJobsNoStatements" value="true"/>
    <add key="DFENV_PathName" value="D:\ReportDelivery\DataFeed\"/>
    <add key="DFENV_ErrorFolderMeta" value="D:\ReportDelivery\DataFeed\Error"/>
    <add key="DFENV_LogFileFolderName" value="D:\ReportDelivery\DataFeed\Log"/>
    <add key="DFENV_Recipients_ID" value="cmanagement@corecard.com"/>
    <add key="DFENV_Sender_ID" value="cmanagement@corecard.com"/>
    <add key="DFENV_Outlook_ID" value="10.23.1.150"/>
    <add key="DFENV_emKMSdefaultMachines" value="CCKMSE1PATUATB1 CCKMSE1PATUATB2"/>
    <add key="DFENV_authenticationmode" value="WA"/>
    <add key="DFENV_NetworkDrive" value="D:"/>
    <add key="DFENV_BinariesDrive" value="D:"/> 
    <add key="UseSSISCheck" value="true"/>
    <add key="UseLatencyCheckforTOD" value="true"/>
    <add key="DFENV_PythonPath" value="D:\CC_Python"/>
	<add key="DFENV_IsPython" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="CoreIssue" connectionString="server=CCRPTLIST1;Integrated Security=SSPI;database=CCGS_RPT_CoreIssue;Connect Timeout=120"/>
    <add name="CoreIssue_Main" connectionString="server=CCAPPLIST1;Integrated Security=SSPI;database=CCGS_CoreIssue;Connect Timeout=120"/>
    <add name="CoreLibrary" connectionString="server=CCRPTLIST1;Integrated Security=SSPI;database=CCGS_RPT_CoreLibrary;MultipleActiveResultSets=true;Connect Timeout=120"/>
    <add name="CoreSales" connectionString="server=CCRPTLIST1;Integrated Security=SSPI;database=CCGS_RPT_CoreIssue;Connect Timeout=120"/>
    <add name="CoreApp" connectionString="server=CCRPTLIST1;Integrated Security=SSPI;database=CCGS_RPT_CoreApp;Connect Timeout=120"/>
    <add name="CoreAuth" connectionString="server=CCRPTLIST1;Integrated Security=SSPI;database=CCGS_RPT_PCoreAuth;Connect Timeout=120"/>
    <add name="CoreCollect" connectionString="server=CCRPTLIST1;Integrated Security=SSPI;database=CCGS_RPT_CoreCollect;Connect Timeout=120"/>
  </connectionStrings>
  <applicationSettings>
    <WFRunReports.Properties.Settings>
      <setting name="WFRunReports_coretest2_ReportingService" serializeAs="String">
        <value>http://10.101.181.43/ReportServer/reportingservice.asmx</value>
      </setting>
      <setting name="WFRunReports_SRS2008_ReportExecutionService" serializeAs="String">
        <value>http://10.101.181.43/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </WFRunReports.Properties.Settings>
  </applicationSettings>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
